.tag {
    display: flex;
    flex-direction: row;

    margin: 10px 10px 0px 10px;
    padding: 5px;

    height: calc(10% - 20px);
    width: calc(100% - 30px);

    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgba(230, 230, 230);
}

.chatList, .userList {
    margin: 10px;
    padding: 5px;

    height: calc(90% - 30px);
    width: calc(100% - 30px);

    overflow: scroll;
}

.chatFrame {
    width: 100%;
    height: 100%;
}

.upper {
    margin-bottom: 5px;

    height: calc(75% - 5px);
    width: 100%;
}


.status {
    width: 200px;
    height: 25px;

    font-size: 0.9rem;
}


.chatBox {
    margin-right: 5px;

    height: 100%;
    width: calc(80% - 10px);

    border-radius: 10px;

    border: 1px solid rgba(230, 230, 230);
}

.userBox {
    margin-left: 5px;

    height: 100%;
    width: calc(20% - 5px);

    border-radius: 10px;

    border: 1px solid rgba(230, 230, 230);
}


.lower {
    margin-top: 5px;
    width: 100%;

    border-radius: 10px;

    border: 1px solid rgba(230, 230, 230);
}

.inputBox {
    margin: 10px;
    padding: 5px;

    width: calc(100% - 30px);

    background: white;
}

.userInput {
    height: 90px;
    width: 100%;

    background: white;
}

.userInfo {
    margin-bottom: 5px;

    width: 100%;
    height: 38px;

    align-items: center;
}

/*.name {*/
/*    height: 90%;*/
/*    margin-right: 5px;*/
/*    margin-left: 1px;*/
/*}*/

.chatInputWrapper {

}

.chatInput {
    margin-right: 5px;
    padding: 10px;

    width: calc(100% - 85px);
    height: 40px;

    flex-wrap: wrap;
    overflow: auto;

    border: solid 1px rgba(230, 230, 230);
    border-radius: 5px;

    font-size: 1.0rem;
    resize: none;
}

.submitButtonWrapper {
    height: 30px;
    width: 100%;

    justify-content: end;
    align-items: center;

    background: rgba(230, 230, 230);
}

.submitButton {
    height: calc(100% - 2px);
    width: 80px;

    font-size: 1.0rem;
}

#userList {
    margin: 10px;

    height: calc(100% - 20px);
    width: calc(100% - 20px);

    overflow: auto;
}

.userName {
    display: flex;

    margin: 5px;

    height: 22px;

    justify-content: center;
    align-items: center;

    border-radius: 10px;

    text-align: center;

    font-size: 1.0rem;

    background-color: rgba(230, 230, 230);
}

.myName {
    width: 100px;
}