<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: layout(~{:: title}, ~{:: privateResources}, ~{:: page})}">
<head>
    <title th:text="#{webName}">
        Sprout
    </title>
    
    <privateResources>
        <script src="/jquery-3.6.0/jquery-3.6.0.min.js" type="text/javascript"></script>
        
        <link href="/sprout/css/pages/delete-confirm.css" rel="stylesheet"/>
        <script type="text/javascript" src="/sprout/js/pages/delete-confirm.js"></script>
    </privateResources>
</head>

<body>
    <page class="page column">
        
        <input type="hidden" class="postId" th:value="${postId}"/>
        <input type="hidden" class="boardName" th:value="${boardName}"/>
        
        <div class="card column">
            <div class="message">
                Please confirm to delete the post.
            </div>
            
            <div class="buttonSet row">
                <button class="button backButton" onclick="back()">No</button>
                <button class="button postDeleteButton" onclick="postDelete()">Yes</button>
            </div>
        </div>
    </page>
</body>
</html>
